@model LoginViewModel
@{
	ViewData["title"] = "Login";
}


<section style="padding: 40px 0; background-color: #f9f9f9;">
	<div class="container"
		style="max-width: 600px; background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
		<h2 class="text-center" style="margin-bottom: 30px;">Đăng nhập tài khoản của bạn</h2>

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<form asp-action="Login" asp-controller="Account">
			<div class="form-group" style="margin-bottom: 20px;">
				<label style="font-weight: 600;">Tên người dùng</label>
				<input asp-for="Username" class="form-control" style="background-color: #fff; padding: 10px;"
					placeholder="Nhập tên người dùng" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>

			<div class="form-group" style="margin-bottom: 20px;">
				<label style="font-weight: 600;">Mật khẩu</label>
				<input asp-for="Password" class="form-control" style="background-color: #fff; padding: 10px;"
					placeholder="Nhập mật khẩu" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<button class="btn"
				style="background-color: #E30019; width: 100%; color: white; font-weight: bold; padding: 8px 20px; margin-bottom: 15px;">Đăng
				nhập</button>

			<!-- Các nút phụ được cải tiến -->
			<div class="d-flex" style="display:flex ;margin-bottom: 20px; justify-content: center;">
				<a asp-action="ForgotPass" asp-controller="Account"
					class="btn btn-outline-primary d-flex align-items-center justify-content-center"
					style="gap: 8px;  color: #3472D9;">
					<i class="fas fa-unlock-alt"></i> Quên mật khẩu
				</a>
			</div>
			<div style="display: flex; align-items: center; text-align: center;">
				<hr style="flex: 1; border: none; border-top: 1px solid #ddd;" />
				<span style="padding: 0 10px; color: #6b7280; font-size: 16px;">Hoặc đăng nhập bằng</span>
				<hr style="flex: 1; border: none; border-top: 1px solid #ddd;" />
			</div>

			<div style="display: flex; justify-content: center;">
				<a asp-action="LoginByGoogle" asp-controller="Account" style="gap: 8px;text-decoration: none;">
					<button type="button"
						style="border: 1px solid #d23e3e; border-radius: 4px; padding: 8px 12px;  background-color: #fff; ">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/800px-Google_%22G%22_logo.svg.png"
							width="20" height="20" alt=""> Google
					</button>

				</a>
			</div>

			<div style="display: flex; justify-content: center; gap: 8px; font-size: 16px; margin-top: 20px;">
				<span>Chưa có tài khoản?</span>
				<!-- Nút đăng ký -->
				<a asp-action="Create" asp-controller="Account"
					style="color: rgb(222, 71, 71) ; font-weight: bold;">Đăng
					ký</a>
			</div>
		</form>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
